{
  "presets": [
    [
      "env",
      {
        "modules": false,
        "targets" : {
          "browsers": ["last 2 versions"]
        }
      }
    ],
    "react",
    "stage-0"
  ],
  "plugins": [
    "transform-object-rest-spread",
    "transform-es2015-modules-commonjs",
    ["import", { "libraryName": "antd", "libraryDirectory": "es", "style": "css" }]
  ]
}
